.home5{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #141416;
}

.p5{
    color: #777E90;
}

.h2forh5{
    
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: center;

}

  