.home6{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #141416;
}

.p6{
    color: #B1B5C3;
}

.h1f6{
    
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FCFCFD;
    align-items: right;
}